.intro{
    min-height: 100vh;
    padding: 180px 20px;
    display: flex;
    margin: 0 -30px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("/src/img/icons/hlegal-symbol.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &__title{
        text-transform: lowercase;
        text-align: center;
        font-size: 38px;
        font-weight: 700;
        line-height: 1.2;
    }
    &__arrow{
        position: absolute;
        bottom:2px;
        left:50%;
        transform: translateX(-50%);
        &-link{
           width: 42px;
           height: 42px;
           fill: none;
           stroke: #fff;
           stroke-width: 2px;
           &:hover{
             stroke:$accent-color;
           }
           &:active{
            stroke: $active-color;
           }
    
        }
        
    }
}