@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-grad{
  color:transparent;
  background: $gradient-red-text;
  background-clip: text;
}
@mixin text-grad-hover {
  color: transparent;
  background: $gradient-red;
  background-clip: text;
}