.tabs{
  
@media(min-width:1024px) {
        display: flex;
       
    }
    &__list{
        display: flex;
        font-size: 30px;
        font-weight: 700;
        overflow: auto;
        column-gap: 30px;
        color: $text-color;
        margin-right: -30px;
        @media (min-width:768px) {
            font-size: 38;
        }
                @media(min-width:1024px) {
                   width: calc(50%);
                   flex-direction: column;
                   text-align: right;
                   margin-right: 0;
                   padding-right: 60px;
                   justify-content: center;
                   margin-bottom: 0;
                }
        
        
    }

    
    &__link{
        flex-shrink: 0;
        margin: 15px 0 0 0 ;
        cursor: pointer;
        &:hover{
            @include text-grad-hover;
        }
        &.active{
        @include text-grad;
        }
        
    }
    &__content{
        border: solid $separator-color;
        border-width: 4px 0 0 0;

        @media(min-width:1024px) {
                width: 50%;
                border-width: 0 0 0 4px;
                padding-left: 60px;
                display: flex;
                align-items: center;
            }
                         &-text {
                            
                             padding-top: 30px;
                             max-width: 580px;
            
                             &:not(.active) {
                                 display: none;
                             }
                                                                   @media(min-width:1024px) {
                                                                     padding-top: 0;
                                                                   }
            
            
                         }
    }
   
&__caption {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 26px;
    line-height: 1.2;
        @media (min-width:768px){
        font-size: 30px;
    }
}
&__description{
    font-size: 19px;
    color:$text-color;
    @media (min-width:768px) {
            font-size: 16px;
        }
}

  
}